*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
}

h1 {
  font-size: 4.5rem;
}

.announcement {
  font-size: 1.5rem;
}

.board {
  display: grid;
  grid-template: repeat(3, 6.5rem) / repeat(3, 6.5rem);
  gap: 0.5rem;
  margin: 1.25rem;
}

.cell {
  overflow: hidden;
  display: flex;
  align-items: center;
  border: 2px solid dimgray;
  border-radius: 0.5rem;
  background-color: gray;
}

.cell--marker {
  width: 100%;
  height: 100%;
  background-color: silver;
  font-size: 4.5rem;
  text-align: center;
}

button {
  border: 2px solid gray;
  border-radius: 999em;
  padding: 0.25em 2em;
}
