*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: calc(1rem + 0.5em);
}

.app {
  min-height: 100dvh;
  font-family: system-ui, sans-serif;
}

.board {
  display: grid;
  grid-template: repeat(3, 6em) / repeat(3, 6em);
  gap: 0.5rem;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}
