*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  line-height: calc(1rem + 1em);
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  font-family: system-ui, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

h1 {
  font-size: 4rem;
}

.board {
  display: grid;
  grid-template: repeat(3, 6rem) / repeat(3, 6rem);
  gap: 0.5rem;
  margin: 1rem;
}

.cell {
  background-color: gray;
  font-size: 4.5rem;
  font-weight: 500;
}

.cell--marker {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: silver;
}

button {
  padding: 0.375em 1.5em;
}
